.flex_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lrtb {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
@media (max-width: 991px) {
  .slider_content{
    max-width: auto!important;
  }
  .social_icons,
  .phone_block {
    display: none;
  }
  .portfolio_section .btn_block a {
    margin: 8px;
  }
  .main_section .banner_content h1 {
    font-size: 48px;
  }
  .main_section .banner_content h1 br {
    display: none;
  }
  .services_section .arrow_block .arrow.next {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  section .section_title {
    font-size: 32px;
  }
  .contacts_section .contacts_row .contact_item {
    width: 100%;
    padding-right: 0;
  }
  .contacts_section .map_block iframe {
    height: 300px;
  }
  .services_section .services_slider .slider_item .slider_content {
    width: 70%;
    height: auto;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: unset;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 200;
  }
  .services_section .services_slider .slider_item .slider_content:after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
  .services_section .services_slider .slider_item .slider_content .buttons_block {
    margin-top: 16px;
  }
  .main_section .banner_content {
    width: 80%;
  }
  .main_section .banner_content .menu_list a {
    display: block;
    margin: 10px 0;
    margin-right: 24px;
  }
  .services_section .services_slider .slider_item .slider_content .slider_text h2 {
    font-size: 32px;
  }
  .services_section .services_slider .slider_item .slider_content .buttons_block a {
    margin-right: 16px;
  }
  .logo_block {
    left: 30px;
  }
  .portfolio_section .slider_row .portfolio_item {
    margin-right: 30px;
  }
  .services_section .services_slider .slider_item .img_bg {
    width: 100%;
  }
  .contacts_section .contacts_row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .contacts_section .contacts_row .contact_item:first-child {
    margin-bottom: 12px;
  }
  .contacts_section .contacts_block {
    padding-right: 30px;
  }
  .contacts_section .section_title {
    margin-right: -40px;
  }
  .contacts_section .form_block form {
    padding: 24px 16px;
  }
  .contacts_section .contacts_block {
    width: 50%;
  }
  .contacts_section .form_block {
    width: 50%;
  }
  .contacts_section .contacts_row .contact_item p {
    font-size: 13px;
  }
}
@media (max-width: 575px) {
  .modal form h4 {
    margin-bottom: 15px;
  }
  .modal .contacts_section {
    padding: 16px;
  }
  .modal .input_block input[type="submit"] {
    margin-top: 15px;
  }
  .modal .close img {
    width: 32px;
  }
  .arrow_block {
    padding: 0!important;
  }
  .contacts_section .section_title {
    margin-bottom: 20px;
  }
  .contacts_section .contacts_row .contact_item h4 {
    font-size: 16px;
  }
  section .section_title,
  .contacts_section .section_title {
    font-size: 24px!important;
  }
  .contacts_section .map_block iframe {
    height: 200px;
  }
  .logo_block a {
    font-size: 22px;
  }
  .services_section .logo_block a {
    left: unset!important;
  }
  .services_section .logo_block {
    left: 40px!important;
    margin-top: -20px !important;
  }
  .btn_block {
    height: 50px!important;
  }
  .btn_block a {
    width: 150px;
    text-align: center;
  }
  .portfolio_section .btn_block a {
    padding: 0 12px;
  }
  .services_section .logo_block a {
    font-size: 18px;
  }
  section .section_content {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .portfolio_section .slider_row_block {
    width: 100%;
  }
  .services_section .services_slider .slider_item .img_bg img {
    -o-object-position: center;
       object-position: center;
  }
  .main_section .btn {
    width: 300px;
  }
  .contacts_section .contacts_block {
    padding-right: 0;
  }
  .services_section .arrow_block {
    position: relative;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    margin-top: -70px;
  }
  .services_section .arrow_block .arrow {
    margin: 0 20px;
  }
  section {
    padding: 40px 30px;
  }
  .menu_block .menu_icon:after {
    width: 210px;
  }
  .menu_block .menu_list.active:after {
    width: 300px;
  }
  .menu_block .menu_list.active {
    width: 300px;
  }
  .menu_block .menu_icon {
    padding-top: 20px;
    padding-right: 20px;
  }
  .social_icons {
    display: none;
  }
  .contacts_section .form_block form {
    display: none;
  }
  .main_section .banner_content h1 {
    font-size: 26px;
  }
  .contacts_section .contacts_block {
    width: 100%;
  }
  .phone_block {
    display: none;
    right: 30px;
  }
  .phone_block img {
    height: 24px;
  }
  .phone_block h2 {
    padding: 8px 0;
    font-size: 16px;
  }
  .services_section .services_slider .slider_item .slider_content:after {
    -webkit-transform: unset!important;
        -ms-transform: unset!important;
            transform: unset!important;
    height: 100%;
    width: 100%;
  }
  .services_section .services_slider .slider_item .slider_content {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 366px) {
  .contacts_section .section_title,
  .services_section .services_slider .slider_item.is-selected .slider_content .slider_text h2 {
    font-size: 28px;
  }
  .services_section .logo_block {
    top: 60px;
  }
  .onepage-pagination li a.active:before {
    width: 30px!important;
  }
  .services_section .services_slider .slider_item .slider_content .buttons_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services_section .services_slider .slider_item .slider_content .buttons_block a {
    margin-right: 0;
    width: 200px;
  }
  .services_section .services_slider .slider_item .slider_content .buttons_block a:first-child {
    margin-bottom: 12px;
  }
  .services_section .logo_block a {
    font-size: 14px;
    left: 30px;
  }
}
