@-ms-viewport {
  width: device-width;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
a {
  -webkit-box-shadow: unset!important;
          box-shadow: unset!important;
  outline: none!important;
  border: none!important;
}
video::-webkit-media-controls {
  display: none;
}
/* Could Use thise as well for Individual Controls */
/* Global styles */
* {
  margin: 0;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
input,
input::-webkit-input-placeholder,
textarea,
button,
textarea::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
}
input,
input::-ms-input-placeholder,
textarea,
button,
textarea::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
}
input,
input::placeholder,
textarea,
button,
textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
}
input[type="submit"] {
  cursor: pointer;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #1d1d1d;
}
section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* Mixins */
.flex_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lrtb {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.phone_block,
.logo_block,
.social_icons {
  position: fixed;
  z-index: 200;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.phone_block.hidden,
.logo_block.hidden,
.social_icons.hidden {
  opacity: 0;
  z-index: -2;
}
.logo_block {
  position: absolute;
}
.social_icons {
  position: absolute;
  left: 60px;
  bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.social_icons .line {
  width: 30px;
  height: 2px;
  background: #fff;
}
.social_icons a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  height: 40px;
  width: 40px;
  margin: 0 10px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social_icons a:hover {
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.social_icons a:last-child {
  margin-right: 0;
}
.social_icons a:last-child:after {
  display: none;
}
.social_icons a img {
  height: 16px;
}
.onepage-pagination li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.onepage-pagination li a {
  margin: 10px 0;
  padding: 10px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.onepage-pagination li a:before {
  content: '';
  background: #fff;
  width: 20px;
  height: 2px;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.onepage-pagination li a.active:before {
  width: 40px!important;
}
.phone_block {
  right: 60px;
  bottom: 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.phone_block img {
  height: 32px;
  margin-right: 12px;
}
.phone_block h2 {
  text-transform: uppercase;
  font-size: 24px;
  padding: 10px 20px;
  font-weight: bold;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.phone_block h2 a {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.phone_block.black h2 {
  border-top: 1px solid #1d1d1d;
  border-bottom: 1px solid #1d1d1d;
}
.phone_block.black h2 img {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.phone_block.black h2 a {
  color: #1d1d1d;
}
.logo_block {
  left: 60px;
  top: 33px;
}
.logo_block a {
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 32px;
  line-height: 1;
}
.menu_block .menu_btn {
  margin-top: auto;
  position: relative;
  z-index: 2000;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transform: translate(0, 100px) rotate(15deg);
      -ms-transform: translate(0, 100px) rotate(15deg);
          transform: translate(0, 100px) rotate(15deg);
}
.menu_block .menu_btn a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 56px;
  background: #1565c0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.menu_block .menu_list {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 900;
  margin: auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  width: 0;
}
.menu_block .menu_list:after {
  content: '';
  position: absolute;
  width: 350px;
  height: 200vh;
  background: #fff;
  top: -400px;
  right: 00px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
}
.menu_block .menu_list .menu_list_block {
  margin: auto 0;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 2000;
  height: 0;
  width: 0;
  overflow: hidden;
}
.menu_block .menu_list .menu_list_block a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-right: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin: 20px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  -webkit-transform: translate(40px, 0) rotate(20deg);
      -ms-transform: translate(40px, 0) rotate(20deg);
          transform: translate(40px, 0) rotate(20deg);
}
.menu_block .menu_list .menu_list_block a:first-child {
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.menu_block .menu_list .menu_list_block a:nth-child(2) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.menu_block .menu_list .menu_list_block a:nth-child(3) {
  -webkit-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.menu_block .menu_list .menu_list_block a:nth-child(4) {
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.menu_block .menu_list .menu_list_block a .icon {
  height: 40px;
  width: 40px;
  background: #b92b27;
  margin-left: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu_block .menu_list .menu_list_block a .icon img {
  height: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}
.menu_block .menu_list.active {
  width: 350px;
  height: 100vh;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.menu_block .menu_list.active .menu_btn {
  opacity: 1;
  -webkit-transform: translate(0) rotate(0);
      -ms-transform: translate(0) rotate(0);
          transform: translate(0) rotate(0);
}
.menu_block .menu_list.active:after {
  content: '';
  position: absolute;
  width: 350px;
  height: 200vh;
  background: #fff;
  top: -10vh;
  right: 0;
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-shadow: 0 0 55px rgba(0, 0, 0, 0.45);
          box-shadow: 0 0 55px rgba(0, 0, 0, 0.45);
}
.menu_block .menu_list.active .menu_list_block {
  width: auto;
  height: auto;
}
.menu_block .menu_list.active .menu_list_block a {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.menu_block .menu_icon {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 30px;
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  z-index: 1000;
}
.menu_block .menu_icon:after {
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: #fff;
  top: -125px;
  right: -125px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-left: 1px solid #ccc;
}
.menu_block .menu_icon span {
  display: block;
  width: 50px;
  height: 3px;
  background: #000;
  margin: 5px 0;
  position: relative;
  z-index: 200;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.menu_block .menu_icon .second {
  width: 35px;
}
.menu_block .menu_icon .third {
  width: 20px;
}
.menu_block .menu_icon.active:after {
  -webkit-box-shadow: unset!important;
          box-shadow: unset!important;
  border-left: unset!important;
}
.menu_block .menu_icon.active .first {
  width: 35px!important;
}
.menu_block .menu_icon.active .second {
  width: 45px;
}
.menu_block .menu_icon.active .third {
  width: 35px;
}
section {
  padding: 60px 80px;
  overflow: hidden;
}
section video {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
}
section .section_title {
  text-align: left;
  font-size: 48px;
  color: #fff;
  font-weight: 900;
}
section .section_content {
  position: relative;
  z-index: 200;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.main_section {
  background: url(../img/section_bg.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  height: 100vh;
}
.main_section .btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 30px;
  z-index: 200;
}
.main_section .btn a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  padding: 0 30px;
  background: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.main_section .btn a:hover {
  background: #1565c0;
  color: #fff;
}
.main_section .btn a img {
  margin-left: 8px;
  height: 18px;
}
.main_section .btn:before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  bottom: -5px;
  background: #fff;
}
.main_section .btn:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  height: 30px;
  bottom: -30px;
  width: 2px;
  background: #fff;
}
.main_section .banner_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 200;
  color: #fff;
  width: 65%;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.main_section .banner_content h1 {
  font-size: 64px;
  color: #fff;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.main_section .banner_content .menu_list {
  padding-left: 20px;
  margin-top: 30px;
}
.main_section .banner_content .menu_list a {
  position: relative;
  color: #fff;
  font-size: 14px;
  padding-left: 40px;
  margin-right: 30px;
}
.main_section .banner_content .menu_list a:after {
  content: '';
  height: 14px;
  width: 14px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.main_section .banner_content .menu_list a:before {
  content: '';
  height: 3px;
  width: 40px;
  background: #fff;
  position: absolute;
  left: -8px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.main_section:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: -webkit-gradient(linear, right top, left top, from(#b92b27), to(#1565c0));
  background: -webkit-linear-gradient(right, #b92b27, #1565c0);
  background: -o-linear-gradient(right, #b92b27, #1565c0);
  background: linear-gradient(to left, #b92b27, #1565c0);
  height: 100vh;
  width: 100%;
  opacity: 0.7;
}
.portfolio_section {
  background: url(../img/helloworld.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}
.portfolio_section .section_content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio_section .section_title {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.portfolio_section .arrow_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
.portfolio_section .arrow_block .arrow {
  -webkit-filter: invert(1);
          filter: invert(1);
  margin: 0 20px;
}
.portfolio_section .arrow_block .arrow:hover img {
  -webkit-transform: translate(10px);
      -ms-transform: translate(10px);
          transform: translate(10px);
}
.portfolio_section .arrow_block .arrow img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 32px;
}
.portfolio_section .arrow_block .prev {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.portfolio_section .flickity-page-dots .dot {
  height: 16px;
  width: 16px;
  background: #fff;
}
.portfolio_section .flickity-page-dots {
  bottom: -40px;
}
.portfolio_section .btn_block {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 30px;
}
.portfolio_section .btn_block a {
  margin: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}
.portfolio_section .btn_block a span {
  position: relative;
  z-index: 20;
}
.portfolio_section .btn_block a:after {
  content: '';
  position: absolute;
  z-index: 10;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 100%;
  width: 0;
  opacity: 0;
  background: #1565c0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.portfolio_section .btn_block a:hover {
  color: #fff;
}
.portfolio_section .btn_block a:hover:after {
  opacity: 1;
  height: 250px;
  width: 250px;
}
.portfolio_section .slider_row_block {
  position: relative;
  height: 300px;
  width: 100%;

}
.portfolio_section .slider_row {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -2;
  margin: 0;
  height: 300px;
  margin-top: 30px;
}
.portfolio_section .slider_row.active {
  z-index: 2000;
  visibility: visible;
  opacity: 1;
}
.portfolio_section .slider_row .flickity-viewport {
  overflow: visible;
}
.portfolio_section .slider_row .portfolio_item {
  width: 280px;
  margin-right: 50px;
}
.portfolio_section .slider_row .portfolio_item .txt_desc {
  padding: 0 24px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.portfolio_section .slider_row .portfolio_item .txt_desc:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  background: #fff;
}
.portfolio_section .slider_row .portfolio_item .txt_desc:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  width: 1px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
}
.portfolio_section .slider_row .portfolio_item:hover .txt_desc {
  -webkit-transform: translate(0, 15px);
      -ms-transform: translate(0, 15px);
          transform: translate(0, 15px);
}
.portfolio_section .slider_row .portfolio_item:hover .txt_desc:after {
  height: 100px;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}
.portfolio_section .slider_row .portfolio_item:hover .txt_desc:before {
  height: 100px;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}
.portfolio_section .slider_row .portfolio_item:hover img {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-width: 15px;
}
.portfolio_section .slider_row .portfolio_item a {
  color: #fff;
}
.portfolio_section .slider_row .portfolio_item img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 10px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.portfolio_section .slider_row .portfolio_item h3 {
  text-transform: uppercase;
  margin-top: 15px;
}
.portfolio_section .slider_row .portfolio_item h4 {
  opacity: 0.5;
  margin: 10px 0;
}
.portfolio_section .slider_row .portfolio_item p {
  line-height: 1.5;
  font-size: 14px;
}
.portfolio_section .flickity-prev-next-button {
  top: unset;
  bottom: -90px;
}
.portfolio_section .flickity-prev-next-button.previous {
  right: -webkit-calc(50% + 10px);
  right: calc(50% + 10px);
  left: unset;
}
.portfolio_section .flickity-prev-next-button.next {
  left: -webkit-calc(50% + 10px);
  left: calc(50% + 10px);
  right: unset;
}
.about_section {
  background: #f5f5f5;
}
.about_section .section_title {
  color: #000;
}
.services_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0;
  /*&.active{
		.slider_item .slider_content .slider_text{
			h2{
				opacity: 1;
				transform: translate(0);
				
			}
			p{
				opacity: 1;
				transform: translate(0);
				
			}
			
		}
		.buttons_block{
			opacity: 1!important;
			transform: translate(0)!important;
		}
	}*/
}
.services_section .arrow_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 2000;
  padding-left: 60px;
}
.services_section .arrow_block .arrow {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.services_section .arrow_block .arrow:hover img {
  -webkit-transform: translate(10px);
      -ms-transform: translate(10px);
          transform: translate(10px);
}
.services_section .arrow_block .arrow img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 48px;
}
.services_section .arrow_block .prev {
  margin-right: auto;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.services_section .logo_block {
  z-index: 3000;
}
.services_section .logo_block a {
  font-size: 24px;
}
.services_section .services_slider {
  width: 100%;
  height: 100%;
}
.services_section .services_slider video {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.services_section .services_slider .slider_item {
  height: 100%;
  width: 100%;
}
.services_section .services_slider .slider_item .img_bg {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60%;
}
.services_section .services_slider .slider_item .img_bg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.services_section .services_slider .slider_item .slider_content {
  height: 100%;
  background: #1d1d1d;
  width: 45%;
  padding: 120px 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services_section .services_slider .slider_item .slider_content .slider_text {
  position: relative;
  z-index: 200;
  color: #fff;
}
.services_section .services_slider .slider_item .slider_content .slider_text h2 {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transform: translate(0, -30px);
      -ms-transform: translate(0, -30px);
          transform: translate(0, -30px);
}
.services_section .services_slider .slider_item .slider_content .slider_text h2:after {
  content: '';
  position: absolute;
  bottom: -30px;
  height: 4px;
  background: #fff;
  width: 220px;
  left: 0;
}
.services_section .services_slider .slider_item .slider_content .slider_text h2:before {
  content: '';
  position: absolute;
  left: 220px;
  bottom: -40px;
  height: 24px;
  width: 24px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: transparent;
  border: 4px solid #fff;
}
.services_section .services_slider .slider_item .slider_content .slider_text p {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 60px;
  opacity: 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 1.5s;
       -o-transition-delay: 1.5s;
          transition-delay: 1.5s;
  -webkit-transform: translate(0, -60px);
      -ms-transform: translate(0, -60px);
          transform: translate(0, -60px);
}
.services_section .services_slider .slider_item .slider_content .buttons_block {
  position: relative;
  z-index: 200;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 2s;
       -o-transition-delay: 2s;
          transition-delay: 2s;
  opacity: 0;
  -webkit-transform: translate(0, -30px);
      -ms-transform: translate(0, -30px);
          transform: translate(0, -30px);
}
.services_section .services_slider .slider_item .slider_content .buttons_block a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  height: 48px;
  color: #000;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 0 20px;
  margin-right: 32px;
  position: relative;
  overflow: hidden;
}
.services_section .services_slider .slider_item .slider_content .buttons_block a:last-child {
  background: #b92b27;
  color: #fff;
  margin-right: 0;
}
.services_section .services_slider .slider_item .slider_content .buttons_block a span {
  position: relative;
  z-index: 20;
}
.services_section .services_slider .slider_item .slider_content .buttons_block a:after {
  content: '';
  position: absolute;
  z-index: 10;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 100%;
  width: 0;
  opacity: 0;
  background: #1565c0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.services_section .services_slider .slider_item .slider_content .buttons_block a:hover {
  color: #fff;
}
.services_section .services_slider .slider_item .slider_content .buttons_block a:hover:after {
  opacity: 1;
  height: 250px;
  width: 250px;
}
.services_section .services_slider .slider_item .slider_content:after {
  content: '';
  position: absolute;
  right: -80px;
  z-index: 100;
  -webkit-transform: skewx(-8deg);
      -ms-transform: skewx(-8deg);
          transform: skewx(-8deg);
  top: 0;
  bottom: 0;
  width: 350px;
  background: #1d1d1d;
}
.services_section .services_slider .slider_item.is-selected .slider_content .slider_text h2 {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.services_section .services_slider .slider_item.is-selected .slider_content .slider_text p {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.services_section .services_slider .slider_item.is-selected .buttons_block {
  opacity: 1!important;
  -webkit-transform: translate(0) !important;
      -ms-transform: translate(0) !important;
          transform: translate(0) !important;
}
.services_section .section_title {
  color: #000;
  font-size: 24px;
  height: 48px;
  margin-bottom: 20px;
}
.services_section .section_content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services_section .section_content:first-child {
  padding-right: 30px;
}
.services_section .services_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.services_section .services_row .service_item {
  width: 50%;
  margin: 15px 0;
  padding-right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services_section .services_row .service_item img {
  width: 64px;
  height: 96px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  padding-bottom: 16px;
  border-bottom: 2px solid #1565c0;
}
.services_section .services_row .service_item h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
  height: 40px;
  opacity: 0;
  -webkit-transform: translate(0, -30px);
      -ms-transform: translate(0, -30px);
          transform: translate(0, -30px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.services_section .services_row .service_item p {
  font-size: 14px;
}
.contacts_section {
  background: #F4F8FC;
}
.contacts_section .section_title {
  color: #1d1d1d;
  margin-bottom: 30px;
}
.contacts_section .contacts_block {
  width: 60%;
  padding-right: 60px;
}
.contacts_section .section_content {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts_section .contacts_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.contacts_section .contacts_row .contact_item {
  width: 50%;
  padding-right: 32px;
}
.contacts_section .contacts_row .contact_item h4 {
  position: relative;
  font-size: 18px;
  margin-bottom: 24px;
}
.contacts_section .contacts_row .contact_item h4:after {
  content: '';
  bottom: -12px;
  left: 0;
  width: 100px;
  height: 3px;
  background: #1565c0;
  position: absolute;
}
.contacts_section .contacts_row .contact_item h4:before {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 100px;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  border: 3px solid #1565c0;
}
.contacts_section .contacts_row .contact_item p {
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.6;
}
.contacts_section .map_block {
  width: 100%;
}
.contacts_section .map_block iframe {
  width: 100%;
  height: 350px;
}
.contacts_section .form_block {
  width: 40%;
}
.contacts_section .form_block h4 {
  margin-bottom: 30px;
  font-size: 24px;
}
.contacts_section .form_block form {
  width: 100%;
  background: #fff;
  padding: 24px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}
.input_block {
  margin: 0 auto 20px;
  position: relative;
  height: auto;
}
.input_block p {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #3c4858;
  font-size: 14px;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  line-height: 1;
}
p.focus {
  top: 15px !important;
  font-size: 10px!important;
  font-weight: medium;
  color: #3c4858!important;
}
.input_block input,
.input_block textarea {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  padding-left: 0;
  padding-top: 12px;
  font-size: 14px;
  color: #3c4858;
  font-weight: 500;
  padding-right: 0;
  font-style: normal;
}
.input_block textarea {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  height: 84px;
  width: 100%;
  resize: none;
  border-bottom: 1px solid #e2e2e2;
  padding-left: 0;
  padding-top: 24px;
  font-size: 14px;
  color: #3c4858;
  font-weight: 500;
  padding-right: 0;
  font-style: normal;
}
.input_block input:focus,
.input_block textarea:focus {
  border-bottom: 1px solid #1565c0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.input_block input:invalid,
.input_block textarea:invalid {
  border-bottom: 1px solid #c41718;
}
.input_block input::-webkit-input-placeholder,
.input_block textarea::-webkit-input-placeholder {
  color: #3c4858;
  font-size: 14px;
  opacity: 1;
}
.input_block input::-ms-input-placeholder,
.input_block textarea::-ms-input-placeholder {
  color: #3c4858;
  font-size: 14px;
  opacity: 1;
}
.input_block input::placeholder,
.input_block textarea::placeholder {
  color: #3c4858;
  font-size: 14px;
  opacity: 1;
}
.submit_block {
  margin-bottom: 0;
}
.input_block input[type="submit"] {
  background-color: #1565c0;
  text-align: center;
  font-weight: bold;
  color: #fff;
  width: 150px;
  height: 48px;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-size: 14px;
  margin-top: 30px;
  cursor: pointer;
  padding-left: 0;
  padding-top: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.input_block input[type="submit"]:hover {
  background: #b92b27;
}
.work_section {
  padding: 60px 0;
}
.work_section .row {
  width: 100%;
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  margin: 0;
}
.work_section .section_title {
  color: #000;
}
.work_section .step {
  width: -webkit-calc(20% + 40px);
  width: calc(20% + 40px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  position: relative;
  padding-right: 0;
  text-align: center;
}
.work_section .step h1 {
  font-size: 48px;
  margin: 15px 0;
}
.work_section .step img {
  height: 96px;
  width: 96px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.work_section .step h3 {
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  height: 54px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 101;
}
.work_section .step:first-child {
  width: -webkit-calc(20% - 20px);
  width: calc(20% - 20px);
}
.work_section .step:first-child:after {
  content: '';
  position: absolute;
  right: -20px;
  top: 0;
  bottom: 0;
  background: #f5f5f5;
  width: 40px;
  -webkit-transform: skewX(-6deg);
      -ms-transform: skewX(-6deg);
          transform: skewX(-6deg);
}
.work_section .step:last-child {
  width: -webkit-calc(20% - 20px);
  width: calc(20% - 20px);
}
.work_section .step:last-child:after {
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  background: #f5f5f5;
  width: 40px;
  -webkit-transform: skewX(6deg);
      -ms-transform: skewX(6deg);
          transform: skewX(6deg);
}
.work_section .step:after {
  z-index: 100;
}
.work_section .step:nth-child(3) {
  width: -webkit-calc(20% - 40px);
  width: calc(20% - 40px);
}
.work_section .step:nth-child(3):after {
  content: '';
  position: absolute;
  right: -20px;
  top: 0;
  bottom: 0;
  background: #f5f5f5;
  width: 40px;
  -webkit-transform: skewX(-6deg);
      -ms-transform: skewX(-6deg);
          transform: skewX(-6deg);
}
.work_section .step:nth-child(3):before {
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  background: #f5f5f5;
  width: 40px;
  -webkit-transform: skewX(6deg);
      -ms-transform: skewX(6deg);
          transform: skewX(6deg);
}
.work_section .step:nth-child(odd) {
  background: #f5f5f5;
}
.flickity-enabled {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flickity-viewport {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  height: auto !important;
}
.flickity-slider {
  position: relative !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  left: auto !important;
}
.portfolio_item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  left: auto !important;
  max-width: 100%;
  min-height: 100%;
  position: relative !important;
  width: 100%;
}
.preloader {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 200000;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.preloader .preloader_block {
  height: 113px;
  margin-top: -50px;
}
.preloader .preloader_block h2 {
  position: absolute;
  left: 50%;
  top: -webkit-calc(50% + 70px);
  top: calc(50% + 70px);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #1565c0;
  font-weight: 900;
  font-size: 48px;
  z-index: 2000;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 100%;
}
.preloader .icon {
  position: absolute;
  left: 50%;
  top: -webkit-calc(50% - 24px);
  top: calc(50% - 24px);
  color: #1565c0;
  font-weight: 900;
  font-size: 48px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.preloader .icon:hover {
  -moz-animation: rotatecircle 4s infinite linear;
  -webkit-animation: rotatecircle 4s linear;
}
.outerCircle {
  background-color: transparent;
  border: 8px solid #b92b27;
  opacity: .9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  width: 113px;
  height: 113px;
  margin: 0 auto;
  -moz-animation: spinPulse 3s infinite ease-in-out;
  -webkit-animation: spinPulse 3s infinite ease-in-out;
}
.innerCircle {
  background-color: transparent;
  border: 5px solid #1565c0;
  opacity: .9;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  top: -100px;
  width: 92px;
  height: 92px;
  margin: 0 auto;
  position: relative;
  -moz-animation: spinoffPulse 1s infinite linear;
  -webkit-animation: spinoffPulse 1s infinite linear;
}
@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(160deg);
    opacity: 0;
    -webkit-box-shadow: 0 0 1px #bdd73c;
            box-shadow: 0 0 1px #bdd73c;
  }
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}
@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotatecircle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 5000;
}
.modal.active {
  width: 100vw;
  height: 100vh;
}
.modal form h4 {
  margin-bottom: 30px;
}
.modal .close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 6000;
}
.modal .close img {
  -webkit-filter: invert(1);
          filter: invert(1);
  height: 48px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.modal .close img:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.modal:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: -webkit-gradient(linear, right top, left top, from(#b92b27), to(#1565c0));
  background: -webkit-linear-gradient(right, #b92b27, #1565c0);
  background: -o-linear-gradient(right, #b92b27, #1565c0);
  background: linear-gradient(to left, #b92b27, #1565c0);
  z-index: 2000;
  opacity: 0.6;
}
.modal .modal_container {
  position: relative;
  z-index: 3000;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal .contacts_section {
  background: #fff;
  padding: 32px 24px;
  width: 500px;
  display: block;
  margin: 0 auto;
}
