.flex_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lrtb {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.flex_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .teachers_section .teacher_item{
    height: 210px;
  }
  header .second_header .menu_block .menu a:first-child{
    margin-left: 0;
  }
  header .second_header .logo_block img {
    height: 30px;
  }
  header .second_header .menu_block .menu a {
    margin-right: 0;
    margin-left: 8px;
    font-size: 12px;
  }
  header .second_header .menu_block .menu a:last-child {
    margin-left: 0;
  }
  header .first_header .contact_block {
    padding: 10px 12px;
  }
  .courses_section .service_item .btn_block a {
    width: auto;
    font-size: 13px;
    margin: 0 8px;
    padding: 0 15px;
  }
}
@media (min-width: 991px) {
  .header_btn,
  .contact_call {
    display: none;
  }
}
@media (max-width: 991px) {

  .news_list img {
    height: 150px!important;
  }
  .post_section .news_list_block h4 {
    margin-bottom: 24px;
  }
  header .second_header .menu_block .menu a:first-child {
    margin-left: 0;
  }
  .about_section .partners_logo .partners_row .partners_logo_img {
    width: 33.333%;
  }
  .testimonials_section .testimonials_row {
    height: 370px;
  }
  .features_section .features_list .col-lg-6:first-child {
    border-right: none;
    margin-bottom: 30px;
  }
  .gallery_modal .gallery_category {
    overflow-x: scroll;
  }
  .gallery_modal .gallery_category .gallery_item {
    width: 33%;
  }
  footer .logo_block img {
    width: 50%;
  }
  .features_section .features_list .list .list_item .list_desc {
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
  }
  .features_section .features_list .list .list_item .list_num {
    height: 80px;
    width: 80px;
    font-size: 40px;
  }
  .features_section .features_list .list .list_item .list_desc {
    padding-left: 16px;
  }
  .features_section .features_list .list .list_item .list_desc h4 {
    font-size: 16px;
    font-weight: 400;
  }
  header .second_header .logo_block img {
    height: 40px;
  }
  header .second_header .phone_block {
    width: 33%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  header .second_header .logo_block {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu_icon {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .header_btn {
    display: none!important;
  }
  .slider .slider_item .slider_content {
    width: 100%;
  }
  .registration .container {
    width: 100%;
    padding: 0 40px;
  }
  /* header .social_icons{
    width: 30%!important;
  } */
  /* header .first_header .contact_block{
    width: 50%;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  } */
  /* header .first_header .contact_block.mail_block,header .first_header .social_icons{
    border-left: unset;
    width: 50%;
    .flex_center();
  } */
  .slider .slider_item .slider_content h1 {
    font-size: 36px;
  }
  .count_section .col-md-3 h4,
  .slider .slider_item .slider_content p {
    font-size: 16px;
  }
  .slider .slider_item .slider_content {
    width: 80%;
  }
  header .second_header .menu_block {
    display: none;
  }
  .menu_icon {
    height: 32px;
    width: 32px;
  }
  .header_btn,
  .logo_block {
    width: 33.33333%;
  }
  header .logo_block img {
    display: block;
    margin: 0 auto;
  }
  .slider .timeline .line_item {
    padding: 0 40px;
  }
  header .second_header .menu_block .close_icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
  }
  header .second_header .menu_block .close_icon img {
    -webkit-filter: invert(1);
            filter: invert(1);
    height: 32px;
    width: 32px;
  }
  header .second_header .menu_block .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
  }
  header .second_header .menu_block .menu a {
    line-height: 1;
    margin-right: 0;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
  }
  header .second_header .menu_block .menu a:after {
    display: none;
  }
  header .second_header .menu_block .menu .btn {
    display: none;
  }
  .menu_block {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000000;
    background: rgba(0, 0, 0, 0.8);
  }
  .slider .timeline .line_item p:after {
    width: 50px;
  }
  .menu_icon {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .sign_in_modal .modal_contest{
    width: calc(100% - 100px);
  }

  .sign_in_modal .close_modal{
    right: 10px;
  }
  .modal.sign_in_modal .close_modal img{
    height: 32px;
    width: 32px;
  }
  .sign_in_modal .modal_contest p{
    font-size: 16px;
  }
  .news_list {
    margin-top: 40px;
    border-top: 2px solid #000;
    display: block;
    padding-left: 15px;
    border-left: unset;
    padding-top: 20px;
  }
  .news_list img {
    height: 250px!important;
  }
  .features_section .col-lg-4 img {
    height: 60px;
    margin: 8px 0;
  }
  .features_section button img {
    height: 32px;
  }
  .features_section .col-lg-4 h3 {
    font-size: 14px;
  }
  .testimonials_section .testimonials_row {
    height: 370px;
  }
  header .second_header .phone_block {
    font-size: 14px;
  }
  header .second_header .phone_block img {
    display: none;
  }
  .lang_block {
    border-left: 1px solid #fff!important;
  }
  header .first_header .contact_block.mail_block {
    display: none!important;
  }
  .gallery_modal .container .row {
    margin: 0;
  }
  .carousel-nav .carousel-cell {
    width: 33.3333%;
  }
  header .second_header .header_btn {
    display: none;
  }
  header .second_header .logo_block img {
    margin: 0;
  }
  .slider .slider_item .slider_content {
    width: 100%;
  }
  .slider .timeline .container {
    width: 100%;
  }
  .slider .timeline .line_item p {
    font-size: 16px;
  }
  .slider .timeline .line_item {
    padding: 0 25px;
  }
  .slider .timeline .line_item p:after {
    width: 20px;
  }
  .features_section .row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section_title h3 {
    font-size: 32px;
  }
  .features_section .col-lg-3.first {
    margin-top: 20px;
    -webkit-order: 3;
    -ms-order: 3;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .gallery_section .gallery_category {
    height: 250px;
  }
  .gallery_section .gallery_category h3 {
    font-size: 24px;
  }
  .count_section .col-md-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 20px 0;
  }
  .count_section {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .section_title {
    margin-bottom: 20px;
  }
  footer .logo_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  footer .logo_block img {
    width: auto;
  }
  footer {
    text-align: center;
    padding: 25px 0;
  }
  footer .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .social_icons {
    margin-right: auto;
    margin-top: 20px;
  }
  .features_section .col-lg-3 h3 {
    font-size: 16px;
  }
  .contacts_section .col-md-6 {
    margin-bottom: 30px;
    text-align: center;
  }
  .testimonials_section .col-lg-4 .testimonial_item {
    padding: 12px 16px;
  }
  .testimonials_section .col-lg-4 .testimonial_item h4 {
    font-size: 20px;
    margin-top: 10px;
  }
  .testimonials_section .col-lg-4 .testimonial_item h5 {
    margin: 10px 0;
  }
  .testimonials_section .testimonials_row {
    padding: 0;
    width: 100%;
  }
  .testimonials_section .testimonials_row label {
    width: 70%;
  }
}
@media (max-width: 575px) {
  .courses_section .service_item{
    text-align: left;
  }
  .courses_section .service_item span{
    display: block;
    padding-right: 12px;
  }
  .about_text a{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news_item h1{
    height: auto;
    font-size: 24px;
  }
  .text{
    height: auto;
  }
  .post_section .btn_block a{
    margin-top: 30px!important;
  }
  .rambler-share{
    display: flex;
    justify-content: center;
  }
  .breadcumbs_section .row .links{
    padding: 0 15px;
  }
  .about_text .about_text_block{
    transition: 0.3s;
  }
  .about_section .partners_logo .partners_row .partners_logo_img{
    padding: 10px 20px!important;
  }
  .about_text p.active{
    height: auto;
  }
  .courses_section .service_item .courses_row{
    display: none;
  }
  .courses_section .service_item .item_content h4 img{
    display: block;
    margin-left: auto;
  }
  .faq_section .accordeon_content{
    width: 100%;
    padding: 0 15px;
  }
  .sign_in_modal .modal_contest{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  }
  .modal .submit_block{
    margin-bottom: 0!important;
  }
  .sign_in_modal .modal_contest{
    padding-bottom: 0!important;
  }
  .courses_section .service_item ul{
    display: none;
  }
  .sign_in_modal .container{
    padding: 32px 0;
  }
  .sign_in_modal .modal_contest{
    width: 100%;
  }
  .modal.sign_in_modal .close_modal{
    filter: unset!important;
    right: 20px;
    top: 15px;
    z-index: 200000;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
  }
  .modal.sign_in_modal .close_modal img{
    height: 24px;
    width: 24px;
  }
  .sign_in_modal .container{
    font-size: 16px;
  }
  .modal form{
    padding: 32px 12px;
  }
  .sign_in_modal .modal_contest p{
    font-size: 14px;
  }
  .news_section .col-lg-3:last-child,.news_section .col-lg-3:nth-child(3), .news_section .col-lg-3:nth-child(2){
    display: none;
  }
  .post_block{
    padding-right: 15px!important;
  }
  .section_title h2{
    font-size: 28px;
  }
  .courses_section .service_item{
    width: 100%;
  }
  .teachers_section .teacher_item{
    height: 250px;
  }
  
  .courses_section .flickity-prev-next-button {
    margin-top: -16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
  }
  .post_section .post_block p {
    font-size: 16px;
  }
  .post_section {
    padding: 40px 0;
  }
  .breadcumbs_section .row .links a {
    font-size: 14px;
  }
  .breadcumbs_section {
    height: 250px;
  }
  .breadcumbs_section .row {
    padding-top: 0;
  }
  .breadcumbs_section .row h1 {
    font-size: 32px;
    padding: 0 30px;
  }
  .breadcumbs_section .row .links {
    margin-top: 12px;
  }
  .news_section .news_item img {
    height: auto;
  }
  .courses_section .service_item {
    height: auto;
    margin-bottom: 12px;
  }
  .courses_section .service_item p {
    display: none;
  }
  .courses_section .col-lg-9 {
    width: calc(100% - 32px);
    padding: 0 10px;
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .courses_section {
    padding-top: 30px;
  }
  .courses_section .section_title {
    margin-bottom: 0;
  }
  .target_section .video_slider .slider_item video {
    height: 300px;
    width: auto;
  }
  .target_section .video_slider {
    height: 280px;
  }
  .target_section .flickity-viewport {
    bottom: -55px;
  }
  .courses_section .service_item p {
    margin: 12px 0;
    font-size: 13.5px;
  }
  .courses_section .service_item h4 {
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  .courses_section .service_item {
    padding: 16px;
  }
  .courses_section .service_item ul li {
    margin: 5px 0;
  }
  .features_section .features_slider {
    height: 400px;
  }
  .features_section .features_list .list .list_item {
    margin: 16px 0;
  }
  .features_section .features_list .list .list_item .list_num {
    height: 60px;
    width: 60px;
    font-size: 30px;
  }
  .testimonials_section .testimonial_item {
    padding: 12px 16px;
  }
  .testimonials_section .testimonial_item h4 {
    font-size: 18px;
  }
  .testimonials_section .testimonial_item h5 {
    font-size: 13px;
    margin: 5px 0;
  }
  .about_section .partners_logo .partners_row .partners_logo_img {
    width: 50%;
    padding: 0 20px;
  }
  .timeline {
    border-top: 1px solid #fff;
  }
  footer .courses_list {
    padding-bottom: 16px;
  }
  .modal .input_block input[type="submit"] {
    margin-top: 10px;
  }
  .gallery_modal .gallery_category .gallery_item {
    width: 50%;
    margin: 0 8px;
  }
  .gallery_modal .container {
    padding: 0;
  }
  .footer_contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  footer .footer_row {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer .contact_item,
  footer .social_icons {
    margin: 5px 0;
  }
  .gallery_modal .gallery_category .gallery_item h3 {
    font-size: 16px;
  }
  
  .count_section {
    padding: 30px 0;
  }
  .count_section .col-md-3 {
    margin: 15px 0;
  }
  .section_title h3 {
    font-size: 24px;
  }
  .section_title p {
    font-size: 16px;
  }
  .features_section .features_list .list .list_item .list_desc {
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
  }
  .features_section .col-lg-4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .features_section .col-lg-4 h3 {
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    text-align: left;
    padding-left: 16px;
  }
  .features_section .features_list {
    padding: 0 25px;
  }
  .flickity-prev-next-button {
    width: 36px;
    height: 36px;
  }
  .flickity-prev-next-button.previous {
    left: 5px;
  }
  .flickity-prev-next-button.next {
    right: 5px;
  }

  
  .features_section .col-lg-3 img {
    height: 80px;
  }
  header .second_header .phone_block {
    width: auto;
  }
  header .second_header .phone_block img {
    display: block;
  }

  .slider .slider_row .slider_block a {
    margin-top: unset!important;
  }
  .slider .slider_row .slider_block a:first-child {
    margin-top: 20px!important;
  }
  .modal .close_modal img {
    height: 24px;
    width: 24px;
  }
  .modal .close_modal {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  header .first_header .contact_block.phone_block {
    width: 100%;
  }
  .lang_block {
    border-left: 1px solid #fff!important;
  }
  .lang_block a {
    color: #000!important;
  }
  .slider .timeline .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials_section .testimonials_row {
    padding: 0 15px;
    height: 450px;
  }
  .testimonials_section .testimonials_row p {
    line-height: 1.3;
    font-size: 14px;
  }
  .testimonials_section .flickity-prev-next-button {
    width: 32px;
    height: 32px;
  }
  .slider .slider_item .slider_content p {
    font-size: 14px;
    width: 80%;
    display: block;
    margin: 15px auto;
  }
  header .first_header .contact_block {
    padding: 10px;
  }
  .slider .slider_row .slider_block .button_item {
    height: auto;
    margin: 10px 0;
  }
  header .first_header .contact_block .icon img {
    width: 16px;
  }
  header .first_header .contact_block .contact_text {
    padding-left: 4px;
    font-size: 13px;
  }
  .slider .slider_item .slider_content .button_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider .slider_item .slider_content .button_block a {
    margin-bottom: 15px;
  }
  .slider .timeline .line_item p {
    margin-bottom: 20px;
  }
  .slider .timeline,
  .slider .timeline .container {
    height: auto;
  }
  .slider .timeline .container {
    padding: 15px 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    background: #404040;
  }
  .courses_section .service_item .btn_block a {
    margin-top: 15px;
    width: 215px!important;
  }
  .slider .timeline .line_item:last-child p {
    margin-bottom: 0;
  }
  .slider .timeline .line_item p:after {
    left: 50%;
    top: unset;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    bottom: -10px;
  }
  .slider .slider_item {
    height: 470px;
  }
  .slider .timeline {
    position: relative;
    bottom: unset;
  }
  .slider .flickity-prev-next-button {
    width: 32px;
    height: 32px;
  }
  header .first_header .contact_block {
    border-color: #ccc!important;
  }
  header .first_header .contact_block .contact_text h4 {
    color: #000!important;
  }
  header .first_header .contact_block .icon img {
    -webkit-filter: unset;
            filter: unset;
  }
  header .first_header .row {
    border-bottom: 1px solid #ccc;
  }
  header .social_icons {
    border-color: #ccc;
    border-left: 1px solid #ccc!important;
  }
  header .social_icons img {
    -webkit-filter: unset!important;
            filter: unset!important;
  }
  header .first_header .contact_block.mail_block {
    border-left: 1px solid #ccc;
  }
  .slider .slider_item .slider_content h1 {
    font-size: 32px;
  }
  .slider .slider_row .slider_block .button_item {
    padding: 0!important;
    border: unset!important;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider .slider_row .slider_block .button_item p {
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center!important;
  }
  .slider .slider_row .slider_block .button_item a {
    margin: 0;
    margin-left: auto;
  }
  .slider .slider_row .slider_block .button_item:first-child a {
    margin-right: auto;
  }
  .features_section .col-lg-3 {
    width: 80%;
    margin: 20px 0;
  }
  body {
    padding-top: 120px;
  }
  .slider .timeline .line_item span {
    color: #fff;
    font-size: 22px;
  }
}
@media (max-height: 600px) {
  .modal form h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .modal .input_block input,
  .modal .input_block select {
    height: 32px;
  }
  .modal .input_block p {
    font-size: 13px;
    margin-bottom: 4px;
  }
  .modal .input_block {
    margin: 10px 0;
  }
  .modal form {
    padding: 16px;
  }
}
@media (max-width: 991px) {
  .course_section .course_img,
  .course_section .course_desc {
    width: 100%;
    padding: 0;
  }
  .course_section .course_desc {
    padding-top: 24px;
  }
  .course_section .course_desc .list {
    padding-bottom: 16px;
  }
}
@media (max-width: 575px) {
  .courses_link{
    padding-left: 15px;
  }
  .courses_section .service_item h4 {
    justify-content: flex-start;
  }
  .course_section .course_text .btns{
    padding: 15px;

  }
  header .second_header .logo_block img{
    display: block;
  }
  .header_btn, .logo_block{
    width: auto;
    margin-right: 16px;
  }
  footer .logo_block{
    margin-bottom: 20px;
  }
  header .second_header .phone_block{
    order: 2;
    background: transparent;
    padding: 0;
  }
  header .second_header .logo_block{
    display: block;
    order: 1;
  }
  .courses_section .service_item .text_content{
    margin: 0;
  }
  .img_modal {
    padding: 50px 15px;
  }
  .course_section {
    padding: 30px 0;
  }
  .course_section .course_desc {
    padding: 15px;
  }
  .link a {
    display: block;
    margin-left: 0;
    font-size: 16px;
  }
  .course_section .course_img {
    padding: 0 15px;
  }
  .course_section .course_img img {
    height: auto;
  }
  .course_section .course_desc .list .list_item {
    line-height: 1.4;
  }
  .course_section .course_text p{
    padding: 0 15px;
    color: #000!important;
  }
}
@media (max-width: 400px) {
  header .second_header .logo_block img{
    height: 30px;
  }
  header .second_header .phone_block a img{
    height: 16px;
  }
}
