.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -webkit-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
.important{
  display: block!important;
}
/* Global styles */
* {
  margin: 0;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
input,
input::-webkit-input-placeholder,
textarea,
button,
textarea::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
}
input,
input::-moz-placeholder,
textarea,
button,
textarea::-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
}
input,
input:-ms-input-placeholder,
textarea,
button,
textarea:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
}
input,
input::-ms-input-placeholder,
textarea,
button,
textarea::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
}
input,
input::placeholder,
textarea,
button,
textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
}
button{
  cursor: pointer;
}
input[type="submit"] {
  cursor: pointer;
}
input[type="submit"]:disabled {
  opacity: 0.5;
}
body {
  font-family: 'Roboto', sans-serif;
}
section {
  position: relative;
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}
/* Mixins */
.flex_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lrtb {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.social_icons {
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.social_icons img {
  height: 16px;
  width: 16px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social_icons a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 6px;
  width: 32px;
  height: 32px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.social_icons a:hover {
  background: #fff;
}
.social_icons a:hover img {
  -webkit-filter: unset;
          filter: unset;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100000;
}
header .lang_block a {
  color: #fff;
  margin: 0 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .lang_block a img {
  height: 16px;
  width: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 4px;
}
header .first_header .contact_block {
  border-right: 1px solid #fff;
  padding: 10px 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .first_header .contact_block:first-child {
  border-left: 1px solid #fff;
}
header .first_header .contact_block .icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .first_header .contact_block .icon img {
  width: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}
header .first_header .contact_block .contact_text {
  padding-left: 12px;
}
header .first_header .contact_block .contact_text h4 {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
header .second_header {
  z-index: 100000;
}
header .second_header .phone_block {
  -webkit-animation: scale 3s linear infinite;
          animation: scale 3s linear infinite;
  background: #eee;
  padding: 10px;
}
header .second_header .phone_block a {
  color: #404040;
  font-weight: 700;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .second_header .phone_block a img {
  margin-right: 12px;
  height: 20px;
}
header .second_header .container {
  background: #fff;
}
header .second_header .btn{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #D4001B;
  height: 40px;
  width: auto;
  padding: 0 16px;
  margin-left: auto;
  margin-right: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.about_text span,.about_text strong,.about_text p,.about_text h3{
  color: #fff!important;
}
.about_text a {
  display: none;
  color: #000!important;
  background: #fff;
  height: 48px;
  width: 240px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
header .second_header .btn:hover {
  background: #000;
}
header .second_header .btn:after {
  display: none;
}
header .second_header.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #fff;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.24);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.24);
}
header .second_header .row {
  padding: 0 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
header .second_header .logo_block {
  padding: 0;
}
header .second_header .logo_block img {
  height: 40px;
}
header .second_header .menu_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 400;
  -webkit-flex-grow: 400;
      -ms-flex-positive: 400;
          flex-grow: 400;
}
header .second_header .menu_block .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 400;
  -webkit-flex-grow: 400;
      -ms-flex-positive: 400;
          flex-grow: 400;
  padding-left: 16px;
}
header .second_header .menu_block .menu a {
  margin-right: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 40px;
  position: relative;
}
header .second_header .menu_block .menu a:first-child {
  margin-left: auto;
}
header .second_header .menu_block .menu a:after {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 3px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  background: #404040;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
header .second_header .menu_block .menu a:hover:after {
  width: 100%;
}
header .second_header .menu_block .menu a.active:after {
  width: 100%;
}
header .second_header .menu_block .close_icon {
  display: none;
}
.slider {
  width: 100%;
  overflow: hidden;
}
.slider .slider_item {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .slider_item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #000;
  opacity: 0.6;
}
.slider .slider_item .slider_content {
  position: relative;
  z-index: 50;
  color: #fff;
  text-align: center;
  width: 70%;
  display: block;
  margin: 0 auto;
}
.slider .slider_item .slider_content h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
}
.slider .slider_item .slider_content p {
  font-size: 18px;
  margin: 20px 0;
}
.slider .slider_item .slider_content .button_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slider_item .slider_content .button_block a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
  margin-top: 16px!important;
  height: 48px;
  width: 200px;
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  background: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.slider .slider_item .slider_content .button_block .large {
  width: auto;
  padding: 0 16px;
}
.slider .slider_item .slider_content .button_block a:hover {
  background: #D4001B;
  color: #fff;
}
.slider .slider_row {
  width: 100%;
}
.slider .slider_row .slider_block {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 32px;
}
.slider .slider_row .slider_block a {
  width: 50%;
  margin-top: auto!important;
}
.slider .slider_row .slider_block .button_item {
  width: 50%;
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider .slider_row .slider_block .button_item p {
  margin: 0;
  text-align: center;
}

.slider .slider_row .flickity-page-dots {
  bottom: 30px;
}
.slider .slider_row .flickity-page-dots .dot {
  background: #fff;
  width: 16px;
  height: 16px;
}
.slider .timeline {
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: 80px;
}
.slider .timeline .container {
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.slider .timeline .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.slider .timeline .line_item {
  color: #fff;
  font-size: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 66px;
}
.slider .timeline .line_item span {
  color: #D4001B;
  font-weight: bold;
}
.slider .timeline .line_item p {
  position: relative;
  font-size: 20px;
}
.slider .timeline .line_item p:after {
  content: '';
  position: absolute;
  top: 50%;
  left: -webkit-calc(100% + 16px);
  left: calc(100% + 16px);
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100px;
  height: 4px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #FFF;
}
.slider .timeline .line_item:last-child p {
  position: relative;
}
.slider .timeline .line_item:last-child p:after {
  display: none;
}
.section_title {
  text-align: center;
  margin-bottom: 40px;
}
.section_title h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 12px;
  position: relative;
}
.section_title h2:after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  height: 2px;
  width: 0;
  -webkit-transition: 0.3s width;
  -o-transition: 0.3s width;
  transition: 0.3s width;
  background: #000;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}
.section_title p {
  font-size: 18px;
  line-height: 1.3;
}
.courses_section {
  padding: 60px 0;
  padding-bottom: 30px;
  background: #f9fbfa;
}
.courses_section .section_title {
  margin-bottom: 0;
}
.courses_section .section_title span {
  display: block;
  margin-top: 8px;
}
.courses_section .flickity-viewport {
  height: 600px;
}
.courses_section .row {
  margin: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.courses_section .col-lg-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 0;
}
.courses_section .service_item {
  color: #fff;
  position: relative;
  padding: 24px;
  text-align: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  height: 500px;
  width: 50%;

  margin-right: 16px;
}
.courses_section .service_item:hover {
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
.courses_section .service_item .courses_row {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.courses_section .service_item img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.courses_section .service_item h4 {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1;
  height: 45px;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.courses_section .service_item h4 img{
  margin-left: auto;
}
.courses_section .service_item p {
  line-height: 1.2;
  font-size: 16px;
  text-align: justify;
}

.courses_section .service_item .text_content{
  margin: 16px 0;
  overflow: hidden;
  height: -webkit-calc(100% - 260px);
  height: calc(100% - 260px);
}
.courses_section .service_item ul {
  text-align: left;
  list-style: none;
  width: 100%;
}
.courses_section .service_item ul li {
  margin: 7px 0;
  font-size: 14px;
}
.courses_section .service_item .btn_block {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 15px;
}
.courses_section .service_item .btn_block a {
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  height: 48px;
  padding: 0 10px;
  font-weight: bold;
  margin: 0 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.courses_section .service_item .btn_block a:hover {
  -webkit-box-shadow: 0 10px 55px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 55px rgba(0, 0, 0, 0.5);
  background: #000;
  color: #fff;
  -webkit-transform: translate(0, -3px);
      -ms-transform: translate(0, -3px);
          transform: translate(0, -3px);
}
.courses_section .service_item:after {
  content: '';
  position: absolute;
  background: #D4001B;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.courses_section .service_item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.courses_section .service_item:hover:after {
  background: rgba(212, 0, 27, 0.8);
}
.courses_section .service_item .item_content {
  position: relative;
  z-index: 30;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.courses_section .service_item .item_content h4 img{
  height: 16px;
  width: 16px;
  position: relative;
  left: unset;
  right: unset;
  bottom: unset;
  top: unset;
  display: none;
}
.features_section {
  padding: 60px 0;
  position: relative;
  background: #fff;
}
.features_section button {
  z-index: 200;
  cursor: pointer;
  background: transparent;
}
.features_section button img {
  height: 24px;
  -webkit-filter: invert(1);
          filter: invert(1);
}
.features_section .features_slider_block {
  position: relative;
}
.features_section .prev {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}
.features_section .next {
  position: absolute;
  left: 50%;
  top: 10px;
  -webkit-transform: translate(-50%) rotate(180deg);
      -ms-transform: translate(-50%) rotate(180deg);
          transform: translate(-50%) rotate(180deg);
}
.features_section .features_slider {
  height: 450px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.features_section .slider_item {
  width: 100%;
  margin: 0;
  background: #f5f5f5;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  height: 100%;
  padding: 50px 32px;
  position: relative;
}
.features_section .slider_item .list_title {
  width: 100%;
}
.features_section .slider_item .list_title h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
}
.features_section .slider_item .num {
  font-size: 150px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -10;
  color: #ccc;
  opacity: 0.5;
}
.features_section .features_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.features_section .features_list .slider_item_block {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.features_section .features_list h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.features_section .features_list .list {
  margin-top: 8px;
}
.features_section .features_list .list .list_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
}
.features_section .features_list .list .list_item .list_num {
  width: 80px;
  height: 80px;
  border: 2px solid #D4001B;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.features_section .features_list .list .list_item .list_num h2 {
  font-size: 28px;
  font-weight: 900;
}
.features_section .features_list .list .list_item .list_desc {
  padding-left: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
}
.features_section .container {
  z-index: 1001;
}
.features_section .col-lg-4 {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.features_section .col-lg-4 img {
  max-width: 100%;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 16px;
}
.features_section .col-lg-4 h3 {
  font-size: 18px;
  text-align: center;
}
.count_section {
  padding: 60px 0;
  background: url(../img/slider_bg4.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
.count_section:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
}
.count_section .container {
  z-index: 10;
}
.count_section .section_title {
  color: #fff;
}
.count_section .col-md-3 {
  color: #fff;
}
.count_section .col-md-3 img {
  max-width: 100%;
  height: 64px;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-filter: invert(1);
  -o-filter: invert(1);
  filter: invert(1);
}
.count_section .col-md-3 h3 {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1;
}
.count_section .col-md-3 h4 {
  font-size: 18px;
}
.gallery_section {
  padding-top: 60px;
  overflow: hidden;
  z-index: 2000;
}
.gallery_section .row {
  margin: 0 -6px;
}
.gallery_section .gallery_category {
  position: relative;
  height: 400px;
  cursor: pointer;
  overflow: hidden;
}
.gallery_section .gallery_category a{
  width: 100%;
  height: 100%;
  display: block;
}
.gallery_section .gallery_category:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gallery_section .gallery_category img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gallery_section .gallery_category h3 {
  text-align: center;
  font-size: 32px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}
.gallery_section .gallery_category h3:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  bottom: -5px;
  height: 3px;
  background: #fff;
  width: 0;
  -webkit-transition: 0.3s width;
  -o-transition: 0.3s width;
  transition: 0.3s width;
}
.gallery_section .gallery_category:hover h3:after {
  width: 100%;
}
.gallery_section .gallery_category:hover:after {
  background: rgba(212, 0, 27, 0.8);
}
.gallery_section .gallery_category:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
#wrapper_bu {
  width: 100%;
  height: 400px;
}
.holder_bu_awayL1 {
  position: absolute;
  top: 5%;
  left: 16.6%;
  width: 33.3333%;
  z-index: 200;
  height: 90%;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}
.holder_bu_awayL2 {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 33.3333%;
  height: 80%;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}
.holder_bu_center {
  position: absolute;
  left: 33.222%;
  width: 33.3333%;
  height: 100%;
  z-index: 300;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}
.holder_bu_awayR1 {
  position: absolute;
  top: 5%;
  left: 48.8%;
  width: 33.3333%;
  height: 90%;
  z-index: 200;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}
.holder_bu_awayR2 {
  position: absolute;
  left: 66.5%;
  top: 10%;
  width: 33.3333%;
  height: 80%;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}
.testimonials_section {
  padding: 60px 0;
}
.testimonials_section .flickity-button {
  z-index: 400;
}
.testimonials_section .testimonial_item {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: #f2f2f2;
  padding: 16px 24px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  cursor: pointer;
}
.testimonials_section .testimonial_item h4 {
  font-size: 22px;
}
.testimonials_section .testimonial_item img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.testimonials_section .testimonial_item h5 {
  margin: 15px 0;
  font-size: 14px;
  color: #D4001B;
  text-transform: uppercase;
  font-weight: 400;
}
.testimonials_section .testimonial_item p {
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1.5;
  font-size: 15px;
}
.testimonials_section input {
  display: none;
}
.testimonials_section .testimonials_row {
  position: relative;
  width: 80%;
  height: 300px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.testimonials_section .testimonials_row label {
  margin: auto;
  width: 60%;
  height: 100%;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.testimonials_section #s1:checked ~ #slide4,
.testimonials_section #s2:checked ~ #slide5,
.testimonials_section #s3:checked ~ #slide1,
.testimonials_section #s4:checked ~ #slide2,
.testimonials_section #s5:checked ~ #slide3 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transform: translate3d(-30%, 0, -200px);
          transform: translate3d(-30%, 0, -200px);
}
.testimonials_section #s1:checked ~ #slide5,
.testimonials_section #s2:checked ~ #slide1,
.testimonials_section #s3:checked ~ #slide2,
.testimonials_section #s4:checked ~ #slide3,
.testimonials_section #s5:checked ~ #slide4 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(-15%, 0, -100px);
          transform: translate3d(-15%, 0, -100px);
}
.testimonials_section #s1:checked ~ #slide1,
.testimonials_section #s2:checked ~ #slide2,
.testimonials_section #s3:checked ~ #slide3,
.testimonials_section #s4:checked ~ #slide4,
.testimonials_section #s5:checked ~ #slide5 {
  -webkit-box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.testimonials_section #s1:checked ~ #slide2,
.testimonials_section #s2:checked ~ #slide3,
.testimonials_section #s3:checked ~ #slide4,
.testimonials_section #s4:checked ~ #slide5,
.testimonials_section #s5:checked ~ #slide1 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(15%, 0, -100px);
          transform: translate3d(15%, 0, -100px);
}
.testimonials_section #s1:checked ~ #slide3,
.testimonials_section #s2:checked ~ #slide4,
.testimonials_section #s3:checked ~ #slide5,
.testimonials_section #s4:checked ~ #slide1,
.testimonials_section #s5:checked ~ #slide2 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transform: translate3d(30%, 0, -200px);
          transform: translate3d(30%, 0, -200px);
}

.testimonials_section .send_review {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.testimonials_section .send_review a {
  height: 48px;
  width: auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background: #D4001B;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.testimonials_section .send_review a:hover {
  background: #000;
}
.testimonials_section .flickity-viewport {
  width: 100%;
}
.testimonials_section .flickity-prev-next-button {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.teachers_section {
  padding: 60px 0;
  background: url(../img/section_bg4.jpeg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
.teachers_section:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
}
.teachers_section .row {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.teachers_section .col-lg-3 {
  margin: 15px 0;
}
.teachers_section .section_title {
  color: #fff;
}
.teachers_section .container {
  z-index: 20;
}
.teachers_section .teacher_item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  overflow: hidden;
  width: auto;
}
.teachers_section .teacher_item img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.teachers_section .teacher_item .name {
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px 32px;
  width: 100%;
  height: 40px;
}
.teachers_section .teacher_item .name h4 {
  text-align: center;
}
.teachers_section .teacher_item .name p {
  margin-top: auto;
  margin-bottom: auto;
  font-style: italic;
  font-size: 13px;
  text-align: center;
}

.about_section {
  padding: 60px 0;
  background: url(../img/banner.jpeg);
  background-attachment: fixed;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  text-align: left;
}
.about_section p span {
  display: block;
  margin-bottom: 4px;
  text-align: left;
}
.about_section:after {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(212, 0, 27, 0.8);
}
.about_section .partners_logo h4 {
  text-transform: uppercase;
  font-size: 18px;
  margin: 30px 0;
  text-align: center;
}
.about_section .partners_logo .partners_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
.about_section .partners_logo .partners_row .partners_logo_img {
  width: 25%;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.about_section .partners_logo .partners_row .partners_logo_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: brightness(500%);
          filter: brightness(500%);

}
.about_section .video .video_item {
  width: 100%;
}
.about_section .video .video_item video {
  height: 300px;
}
.about_section .container {
  z-index: 40;
  color: #fff;
}
.about_section .social_icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  border: none;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about_section .social_icons img {
  height: 32px;
  width: 32px;
}
.breadcumbs_section {
  background: url(../img/slider_bg4.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom;
  height: 350px;
  position: relative;
}
.breadcumbs_section:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(212, 0, 27, 0.8);
}
.courses_breadcumbs{
  background: url(../img/bg.png);
  background-size: cover;
}
.courses_breadcumbs .row h1{
  text-transform: uppercase;
} 
.courses_breadcumbs:after{
  display: none;
}
.breadcumbs_section .container {
  height: 100%;
}
.breadcumbs_section .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #fff;
  position: relative;
  z-index: 500;
  padding-top: 120px;
}
.breadcumbs_section .row h1 {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}
.breadcumbs_section .row .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 24px;
}
.breadcumbs_section .row .links a {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
}
.breadcumbs_section .row .links a span {
  display: block;
  margin: 0 8px;
}
.post_section {
  padding: 60px 0;
}
.post_section .post_block {
  padding-right: 20px;
}
.post_section .post_block h1 {
  position: relative;
  font-size: 24px;
}
.post_section .post_block h1:after {
  content: '';
  width: 100px;
  left: 0;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -8px;
}
.post_section .post_block p {
  font-size: 14px;
  line-height: 1.4;
}
.post_section .post_block h4 {
  font-size: 16px;
  margin: 15px 0;
}
.post_section .post_block img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.post_section .post_block p {
  margin: 15px 0;
}
.news_section {
  background: url(../img/banner.jpeg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  padding: 60px 0;
}
.news_section .btn_block a,.post_section .btn_block a{
  padding: 0 20px;
  width: auto;
  height: 48px;
  text-align: center;
  background: #D4001B;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 48px;
  margin: 0 auto;
  width: 250px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.news_section .btn_block a:hover,.post_section .btn_block a:hover{
  background: #000;
  color: #fff;
}
.news_section .container {
  z-index: 30;
}
.news_section:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
}
.news_section .row {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.news_section .pages_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}
.news_section .pages_list a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  color: #fff;
  background: #D4001B;
  height: 40px;
  width: 40px;
  margin-right: 16px;
}
.news_section .pages_list a.active {
  background: #f5f5f5;
  color: #404040;
}
.news_section .col-lg-3 {
  margin: 15px 0;
}
.news_list {
  padding-left: 20px;
  border-left: 1px solid #404040;
}
.post_section .news_item .news_desc {
  padding: 15px 0;
}
.post_section .news_list_block h4 {
  font-size: 18px;
  margin-bottom: 32px;
  
}
.post_section .news_item {
  margin-bottom: 15px;
}
.post_section .news_item img {
  height: auto!important;
}
.news_item {
  background: #fff;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
}
.news_item:hover {
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
.news_item .news_desc {
  padding: 16px;
  padding-top: 8px;
}
.news_item img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: center;
     object-fit: center;
}
.news_item h1 {
  font-size: 16px;
  text-align: center;
  display: block;
  font-weight: 900;
  height: 70px;
}
.news_item h5 {
  color: #ccc;
  font-size: 14px;
  margin: 8px 0;
  font-weight: 400;
}
.news_item p {
  font-size: 13px;
  line-height: 1.4;
}
.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: none;
  z-index: 100000;
  width: 100%;
}
.modal .hide_input {
  display: none;
}
.modal .modal_сontent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 25;
}
.modal:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.modal .close_modal {
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
  z-index: 30;
}
.modal .close_modal img {
  height: 32px;
  width: 32px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.modal .close_modal img:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.modal form {
  position: relative;
  z-index: 50;
  background: #fff;
  width: 500px;
  max-height: 100%;
}
.modal form h4 {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.modal .input_block {
  margin: 15px 0;
}
.modal .input_block p {
  margin-bottom: 6px;
  font-size: 13px;
}
.modal .input_block input,
.modal .input_block textarea,
.modal .input_block select {
  width: 100%;
  font-size: 14px;
  padding-left: 12px;
  border: 1px solid #e0e0e0;
}

.modal .input_block input,
.modal .input_block select {
  height: 36px;
}
.modal .input_block textarea {
  resize: none;
  height: 80px;
  padding-top: 8px;
}
.modal .input_block textarea {
  width: 100%;
  font-size: 14px;
  padding-left: 12px;
  border: 1px solid #e0e0e0;
}
.modal .input_block input[type="submit"], .modal .input_block button {
  padding-left: 0;
  background: #D4001B;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  width: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  margin-top: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.modal .input_block input[type="submit"]:hover, .modal .input_block button:hover {
  background: #404040;
}
.modal .submit_block {
  margin-bottom: 0;
}
.contacts_modal .modal_content {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.callback_modal .modal_content.container,.zayavka_modal .modal_content.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 25;
}
.review_modal .modal_content.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 25;
}
.free_lesson .modal_content.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 25;
}
.gallery_modal {
  display: block;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gallery_modal .slider_block {
  position: relative;
  height: 350px;
  width: 100%;
}
.gallery_modal .gallery_carousel {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
}
.gallery_modal .gallery_carousel.active {
  visibility: visible;
  opacity: 1;
}
.gallery_modal .gallery_carousel .carousel_item {
  width: 100%;
}
.gallery_modal .gallery_carousel .carousel_item img {
  width: 100%;
  height: 350px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}
.gallery_modal .gallery_category {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery_modal .gallery_category .flickity-viewport {
  width: 100%;
}
.gallery_modal .gallery_category .gallery_item {
  background: #D4001B;
  color: #fff;
  width: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  height: 100px;
  margin: 0 15px;
}
.gallery_modal .gallery_category .gallery_item h3 {
  line-height: 1.3;
  text-align: center;
}
.gallery_modal.open {
  opacity: 1;
  z-index: 100000;
  visibility: unset;
}
.gallery_modal .container {
  z-index: 20;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery_modal .container .row {
  height: -webkit-calc(100% - 120px);
  height: calc(100% - 120px);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.gallery_modal .container .carousel-nav {
  height: -webkit-calc(30% - 30px);
  height: calc(30% - 30px);
}
.gallery_modal .container .flickity-page-dots .dot {
  background: #fff;
}
.carousel {
  width: 100%;
}
.carousel-main {
  height: 60%;
}
.carousel-main .flickity-viewport {
  height: 100%!important;
}
.carousel-main .carousel-cell {
  height: 100%;
}
.carousel-cell {
  width: 100%;
  height: 30%;
  margin-right: 10px;
  background: #8C8;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.carousel-cell img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.carousel-nav {
  height: 30%;
}
.carousel-nav .carousel-cell {
  height: 100%;
  width: 20%;
}
.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}
.carousel-nav .carousel-cell.is-nav-selected {
  background: #ED2;
}
.contacts_section {
  padding: 40px 0;
  background: #f9f6f1;
}
.contacts_section .row{
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contacts_section .col-md-6 {
  margin-bottom: 30px;
}
.contacts_section .col-md-6 iframe {
  width: 100%;
  height: 300px;
  border: 6px solid #fff!important;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.contacts_section .col-md-6 .contact_desc {
  margin-top: 16px;
}
.contacts_section .col-md-6 .contact_desc h6 {
  font-size: 18px;
  font-weight: 400;
  margin: 8px 0;
}
.contacts_section .col-md-6 .contact_desc h6 span {
  font-weight: 600;
}
footer {
  padding: 40px 0;
  background: #202020;
  color: #fff;
}
footer .courses_list {
  text-align: center;
}
footer .social_icons {
  border: none;
}
footer .social_icons a {
  margin-right: 16px;
  margin-left: 0;
}
footer .social_icons a:last-child {
  margin-right: 0;
}
footer .courses_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .courses_list a {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}
footer .courses_list a:last-child {
  margin-bottom: 0;
}
footer .contact_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}
footer .contact_item img {
  height: 24px;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-right: 12px;
}
footer .contact_item a,
footer .contact_item h4 {
  font-size: 16px;
  color: #fff;
}
footer .footer_row {
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer_row a {
  text-align: center;
  color: #fff;
}
footer .logo_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.contact_call {
  height: 48px;
  width: 48px;
  background: #D4001B;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2001;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact_call img {
  height: 28px;
  width: 28px;
  -webkit-filter: invert(1);
          filter: invert(1);
}
.target_section {
  padding: 40px 0;
}
.target_section [type=radio] {
  display: none;
}
.target_section .video_slider {
  position: relative;
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 400px;
}
.target_section:after {
  content: '';
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  background: url(../img/wave.png);
  height: 100px;
  z-index: 1000;
  -webkit-filter: brightness(500%);
          filter: brightness(500%);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.target_section .section_title span {
  color: #D4001B;
}
.target_section .video_slider {
  width: 100%;
}
.target_section .video_slider .flickity-viewport {
  width: 100%;
}
.target_section .video_slider .slider_item {
  width: 100%;
}
.target_section .video_slider .slider_item video {
  display: block;
  height: 350px;
  width: auto;
  margin: 0 auto;
}
.target_section .video_slider .slider_item .video_title {
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.target_section .video_slider .slider_item .video_title h4 {
  font-size: 18px;
}
.corporate_modal .modal_content {
  position: relative;
  z-index: 200;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 25;
}
.flipbox-wrapper {
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}
.flipbox-wrapper .flipbox-box {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.flipbox-wrapper .flipbox-box .flipbox-side {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-front {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-left {
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-right {
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-top {
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-bottom {
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
}
section.active .section_title h2:after {
  width: 200px;
}
.teachers_section.active .section_title h2:after,
.count_section.active .section_title h2:after,
.about_section.active .section_title h2:after {
  background: #fff;
  width: 200px;
}
.text{
  overflow: hidden;
  height: 65px;
  font-size: 14px;
  line-height: 1.5;
}
.contest_section{
  padding-top: 40px;
}
.modal_contest::-webkit-scrollbar {
  width: 5px;
}
.modal_contest::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.modal_contest::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #D4001B;
}
.modal_contest .close_modal {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(212, 0, 27, 0.8);
  height: 80px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  -webkit-filter: unset!important;
          filter: unset!important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: unset;
  z-index: 2000;
  cursor: pointer!important;
}
.modal_contest {
  background: #fff;
  z-index: 200;
  overflow-y: auto;
  height: 100%;
}
.sign_in_modal {
  display: none;
  z-index: 20000000000;

}
.sign_in_modal .modal_contest {
  width: 600px;
  position: relative;
  z-index: 200;
  margin: 0 auto;
  padding: 40px 30px;
}
.sign_in_modal .modal_contest p {
  font-size: 20px;
}
.sign_in_modal .modal_contest a {
  color: #D4001B;
  font-weight: bold;
  text-decoration: underline;
}
.sign_in_modal .modal_contest h3 {
  margin: 20px 0;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
}
.sign_in_modal .modal_contest .contest_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
  -webkit-box-shadow: 0 0 25px rgba(212, 0, 27, 0.4);
          box-shadow: 0 0 25px rgba(212, 0, 27, 0.4);
  width: 250px;
  height: 60px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background: #D4001B;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sign_in_modal .modal_contest .contest_btn:hover {
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
  background: #A10000;
  -webkit-box-shadow: 0 0 25px rgba(212, 0, 27, 0.9);
          box-shadow: 0 0 25px rgba(212, 0, 27, 0.9);
}
.sign_in_modal .modal_contest .main_img {
  margin: 0 -20px;
  width: -webkit-calc(100% + 40px) !important;
  width: calc(100% + 40px) !important;
}
.sign_in_modal .contest_form {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sign_in_modal .contest_form form {
  width: 100%;
  padding-bottom: 0;
}
.sign_in_modal .contest_form form input,
.sign_in_modal .contest_form form select {
  height: 48px;
}
.sign_in_modal .contest_form .input_block {
  margin-bottom: 30px;
}
.sign_in_modal .back_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  margin-bottom: 50px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sign_in_modal .back_btn svg {
  height: 24px;
  margin-right: 12px;
}
.sign_in_modal .back_btn:hover {
  color: #D4001B;
}
.radio{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  font-size: 18px;
}
.radio input{
  margin-right: 12px;
  width: 32px!important;
  height: 32px!important;
}
.list_section{
  padding: 60px 0;
}
.list_section table td{
  padding: 5px 10px;
}
.list_section table{
  width: 100%;
}
.pagination{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 40px;
}
.page-item{
  list-style: none;
}
.page-item a,.page-item span{ 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  color: #fff;
  margin-right: 16px;
  background: #D4001B;
  height: 32px;
  width: 32px;

}
.course_section {
  padding: 60px 0;
}
.course_section .course_img {
  width: 50%;
  padding-right: 15px;
}
.course_section .course_img img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.link {
  margin: 24px 0;
}
.link a {
  color: #D4001B;
}
.course_section .course_desc {
  padding-left: 15px;
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.course_section .course_desc .list {
  margin-top: 24px;
}
.course_section .course_desc .list .list_item {
  margin-top: 15px;
  font-size: 16px;
  display: block;
  font-weight: bold;
}
.course_section .course_desc h2 {
  font-size: 28px;
  text-transform: uppercase;
}
.course_section .btns {
  margin-top: auto;
  padding-top: 16px;
  border-top: 1px solid #404040;
}
.course_section .btns a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 56px;
  background: #D4001B;
  color: #fff!important;
  text-decoration: none!important;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.course_section .btns a:hover {
  background: #404040;
}
.course_section .course_text {
  margin-top: 20px;
  width: 100%;
}
.course_section .course_text a {
  text-decoration: underline;
  color: #D4001B;
}
.course_section .course_text p {
  font-size: 18px;
  line-height: 1.4;
}
.gallery_item_section {
  padding: 60px 0;
}
.gallery_item_section .gallery_item_img {
  padding: 0;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}
.gallery_item_section .gallery_item_img > img {
  width: 100%;
  height: 300px;
  object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}
.gallery_item_section .gallery_item_img .zoom {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  left: 15px;
  right: 15px;
  bottom: 30px;
  cursor: pointer;
  background: rgba(212, 0, 27, 0.8);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gallery_item_section .gallery_item_img .zoom img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 24px;
}
.gallery_item_section .gallery_item_img:hover .zoom {
  opacity: 1;
}
.img_modal {
  padding: 100px 50px;
}
.img_modal img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.img_modal .modal_content {
  position: relative;
  z-index: 3000;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.show_more_btn{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.show_more_btn a{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #D4001B;
  height: 48px;
  width: auto;
  padding: 0 16px;
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.show_more_btn a:hover{
  background: #fff;
  color: #000;
}
.teachers_section .row{
  display: none;
}
.teachers_row_block{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}
.filter_btns{
  margin-top: 30px;
}
.filter_btns a{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  text-transform: uppercase;
  margin: 0 20px;
  margin-bottom: 20px;
  height: 48px;
  background: #D4001B;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.faq_section{
  padding: 60px 0;
}
.faq_section .accordion_item img{
  height: 16px;
  -webkit-filter: invert(1);
          filter: invert(1);

}
.faq_section .accordion_item .arrow_bottom{
  margin-left: auto;
}
.faq_section  .accordion_list{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.faq_section .accordion_item{
  margin-bottom: 3px;
}
.faq_section .accordion_item .accordion_button > a{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 30px;
  background: #eee;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.faq_section .accordion_item .accordion_button a .price{
  margin-left: auto;
}

.faq_section .flex_row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  position: relative;
}
.faq_section .accordeon_content{
  width: 75%;
}
.faq_section .item_content{
  display: none;
  background: #fff;
  padding: 12px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.faq_section .item_content_block{
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.faq_section .item_content_block p{
  display: block;
  width: 100%;
  line-height: 1.3;
  margin-bottom: 0;
  font-size: 16px;
}
.faq_section .accordeon_desc{
  margin-bottom: 12px;
  padding-left: 12px;
  border-left: 1px solid #6364d8;
}
.faq_section .item_content a{
  margin-left: auto;
  text-decoration: underline;
}
.faq_section .item_content_block ul{
  padding-left: 32px;
}
.contacts_modal .modal_contest{
  height: 100%;
  
}
.contacts_modal .contest_block{
  height: 100%;
}

.callback_modal form, .zayavka_modal form{
  padding: 24px;
}
.main_course_tag{
  color: #fff;
  font-style: italic;
  margin-bottom: 30px;
}
.main_course_tag img{
  height: 16px;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-right: 12px;
}
.gallery-link{
  margin-bottom: 30px;
}
.courses_link{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.course_section .course_text .btns{
  border-top: unset;
  border-bottom: 1px solid #404040;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.courses_link h4{
  margin-bottom: 12px;
}
.courses_link a{
  text-decoration: underline;
  color: #D4001B;
  font-size: 18px;
}