@font-face {
  font-family: ;
  src: url('../fonts/');
}
/* Global styles */
* {
  margin: 0;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
input,
input::-webkit-input-placeholder,
textarea,
button,
textarea::-webkit-input-placeholder {
  font-family: 'Rubik', sans-serif;
  border: none;
  outline: none;
}
input,
input::-moz-placeholder,
textarea,
button,
textarea::-moz-placeholder {
  font-family: 'Rubik', sans-serif;
  border: none;
  outline: none;
}
input,
input:-ms-input-placeholder,
textarea,
button,
textarea:-ms-input-placeholder {
  font-family: 'Rubik', sans-serif;
  border: none;
  outline: none;
}
input,
input::-ms-input-placeholder,
textarea,
button,
textarea::-ms-input-placeholder {
  font-family: 'Rubik', sans-serif;
  border: none;
  outline: none;
}
input,
input::placeholder,
textarea,
button,
textarea::placeholder {
  font-family: 'Rubik', sans-serif;
  border: none;
  outline: none;
}
input[type="submit"] {
  cursor: pointer;
}
body {
  font-family: 'Rubik', sans-serif;
}
section {
  position: relative;
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}
/* Mixins */
.flex_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lrtb {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.social_icons {
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.social_icons img {
  height: 16px;
  width: 16px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social_icons a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 6px;
  width: 32px;
  height: 32px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.social_icons a:hover {
  background: #fff;
}
.social_icons a:hover img {
  -webkit-filter: unset;
          filter: unset;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100000;
}
header .lang_block a {
  color: #fff;
  margin: 0 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .lang_block a img {
  height: 16px;
  width: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 4px;
}
header .first_header .contact_block {
  border-right: 1px solid #fff;
  padding: 10px 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .first_header .contact_block:first-child {
  border-left: 1px solid #fff;
}
header .first_header .contact_block .icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .first_header .contact_block .icon img {
  width: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}
header .first_header .contact_block .contact_text {
  padding-left: 12px;
}
header .first_header .contact_block .contact_text h4 {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
header .second_header {
  z-index: 100000;
}
header .second_header .phone_block {
  -webkit-animation: scale 3s linear infinite;
          animation: scale 3s linear infinite;
  background: #eee;
  padding: 10px;
}
header .second_header .phone_block a {
  color: #404040;
  font-weight: 700;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .second_header .phone_block a img {
  margin-right: 12px;
  height: 20px;
}
header .second_header .container {
  background: #fff;
}
header .second_header .btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #D4001B;
  height: 40px;
  width: 160px;
  margin-left: auto;
  margin-right: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
header .second_header .btn:hover {
  background: #000;
}
header .second_header .btn:after {
  display: none;
}
header .second_header.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #fff;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.24);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.24);
}
header .second_header .row {
  padding: 0 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
header .second_header .logo_block {
  padding: 0;
}
header .second_header .logo_block img {
  height: 40px;
}
header .second_header .menu_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 400;
  -webkit-flex-grow: 400;
      -ms-flex-positive: 400;
          flex-grow: 400;
}
header .second_header .menu_block .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 400;
  -webkit-flex-grow: 400;
      -ms-flex-positive: 400;
          flex-grow: 400;
  padding-left: 16px;
}
header .second_header .menu_block .menu a {
  margin-right: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 40px;
  position: relative;
}
header .second_header .menu_block .menu a:first-child {
  margin-left: auto;
}
header .second_header .menu_block .menu a:after {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 3px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  background: #404040;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
header .second_header .menu_block .menu a:hover:after {
  width: 100%;
}
header .second_header .menu_block .menu a.active:after {
  width: 100%;
}
header .second_header .menu_block .close_icon {
  display: none;
}
.slider {
  width: 100%;
  overflow: hidden;
}
.slider .slider_item {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .slider_item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #000;
  opacity: 0.6;
}
.slider .slider_item .slider_content {
  position: relative;
  z-index: 50;
  color: #fff;
  text-align: center;
  width: 60%;
  display: block;
  margin: 0 auto;
}
.slider .slider_item .slider_content h2 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
}
.slider .slider_item .slider_content p {
  font-size: 18px;
  margin: 20px 0;
}
.slider .slider_item .slider_content .button_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .slider_item .slider_content .button_block .large {
  width: 310px;
}
.slider .slider_item .slider_content .button_block a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
  height: 48px;
  width: 200px;
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  background: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.slider .slider_item .slider_content .button_block a:hover {
  background: #D4001B;
  color: #fff;
}
.slider .slider_row {
  width: 100%;
}
.slider .slider_row .slider_block {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 32px;
}
.slider .slider_row .slider_block a {
  width: 50%;
  margin-top: auto!important;
}
.slider .slider_row .slider_block .button_item {
  width: 50%;
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider .slider_row .slider_block .button_item p {
  margin: 0;
  text-align: left;
}
.slider .slider_row .slider_block .button_item:first-child {
  text-align: right;
  border-right: 1px solid #fff;
  padding-right: 16px;
}
.slider .slider_row .slider_block .button_item:first-child a {
  margin: 0;
  margin-left: auto;
}
.slider .slider_row .slider_block .button_item:first-child p {
  text-align: right;
}
.slider .slider_row .slider_block .button_item:last-child {
  padding-left: 16px;
}
.slider .slider_row .slider_block .button_item:last-child a {
  margin-left: 0;
}
.slider .slider_row .flickity-page-dots {
  bottom: 30px;
}
.slider .slider_row .flickity-page-dots .dot {
  background: #fff;
  width: 16px;
  height: 16px;
}
.slider .timeline {
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: 80px;
}
.slider .timeline .container {
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.slider .timeline .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.slider .timeline .line_item {
  color: #fff;
  font-size: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 66px;
}
.slider .timeline .line_item span {
  color: #D4001B;
  font-weight: bold;
}
.slider .timeline .line_item p {
  position: relative;
  font-size: 20px;
}
.slider .timeline .line_item p:after {
  content: '';
  position: absolute;
  top: 50%;
  left: -webkit-calc(100% + 16px);
  left: calc(100% + 16px);
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100px;
  height: 4px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #FFF;
}
.slider .timeline .line_item:last-child p {
  position: relative;
}
.slider .timeline .line_item:last-child p:after {
  display: none;
}
.section_title {
  text-align: center;
  margin-bottom: 40px;
}
.section_title h3 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 12px;
  position: relative;
}
.section_title h3:after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  height: 2px;
  width: 0;
  -webkit-transition: 0.3s width;
  -o-transition: 0.3s width;
  transition: 0.3s width;
  background: #000;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}
.section_title p {
  font-size: 18px;
  line-height: 1.3;
}
.courses_section {
  padding: 60px 0;
  padding-bottom: 30px;
  background: #f9fbfa;
}
.courses_section .section_title {
  margin-bottom: 0;
}
.courses_section .section_title span {
  display: block;
  margin-top: 8px;
}
.courses_section .flickity-viewport {
  height: 600px;
}
.courses_section .row {
  margin: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.courses_section .col-lg-4 {
  margin-bottom: 30px;
  margin-top: 20px;
}
.courses_section .service_item {
  color: #fff;
  position: relative;
  padding: 24px;
  text-align: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  height: 500px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}
.courses_section .service_item:hover {
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
.courses_section .service_item .courses_row {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.courses_section .service_item img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.courses_section .service_item h4 {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1;
}
.courses_section .service_item p {
  margin: 16px 0;
  line-height: 1.3;
  font-size: 14px;
  text-align: justify;
}
.courses_section .service_item ul {
  text-align: left;
  list-style: none;
  width: 100%;
}
.courses_section .service_item ul li {
  margin: 7px 0;
  font-size: 14px;
}
.courses_section .service_item .btn_block {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 15px;
}
.courses_section .service_item .btn_block a {
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  height: 48px;
  width: 210px;
  font-weight: bold;
  margin: 0 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.courses_section .service_item .btn_block a:hover {
  -webkit-box-shadow: 0 10px 55px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 55px rgba(0, 0, 0, 0.5);
  background: #000;
  color: #fff;
  -webkit-transform: translate(0, -3px);
      -ms-transform: translate(0, -3px);
          transform: translate(0, -3px);
}
.courses_section .service_item:after {
  content: '';
  position: absolute;
  background: rgba(212, 0, 27, 0.8);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.courses_section .service_item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.courses_section .service_item:hover:after {
  background: rgba(212, 0, 27, 0.8);
}
.courses_section .service_item .item_content {
  position: relative;
  z-index: 30;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.features_section {
  padding: 60px 0;
  position: relative;
  background: #fff;
}
.features_section button {
  z-index: 200;
  cursor: pointer;
  background: transparent;
}
.features_section button img {
  height: 24px;
  -webkit-filter: invert(1);
          filter: invert(1);
}
.features_section .features_slider_block {
  position: relative;
}
.features_section .prev {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}
.features_section .next {
  position: absolute;
  left: 50%;
  top: 10px;
  -webkit-transform: translate(-50%) rotate(180deg);
      -ms-transform: translate(-50%) rotate(180deg);
          transform: translate(-50%) rotate(180deg);
}
.features_section .features_slider {
  height: 450px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.features_section .slider_item {
  width: 100%;
  margin: 0;
  background: #f5f5f5;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  height: 100%;
  padding: 50px 32px;
  position: relative;
}
.features_section .slider_item .list_title {
  width: 100%;
}
.features_section .slider_item .list_title h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
}
.features_section .slider_item .num {
  font-size: 150px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -10;
  color: #ccc;
  opacity: 0.5;
}
.features_section .features_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.features_section .features_list .slider_item_block {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.features_section .features_list h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.features_section .features_list .list {
  margin-top: 8px;
}
.features_section .features_list .list .list_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
}
.features_section .features_list .list .list_item .list_num {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #D4001B;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.features_section .features_list .list .list_item .list_num h2 {
  font-size: 28px;
  font-weight: 900;
}
.features_section .features_list .list .list_item .list_desc {
  padding-left: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
}
.features_section .container {
  z-index: 1001;
}
.features_section .col-lg-4 {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.features_section .col-lg-4 img {
  max-width: 100%;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 16px;
}
.features_section .col-lg-4 h3 {
  font-size: 18px;
  text-align: center;
}
.count_section {
  padding: 60px 0;
  background: url(../img/slider_bg4.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  -webkit-box-shadow: 0px 3px 69px 21px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 69px 21px rgba(0, 0, 0, 0.25);
}
.count_section:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
}
.count_section .container {
  z-index: 10;
}
.count_section .section_title {
  color: #fff;
}
.count_section .col-md-3 {
  color: #fff;
}
.count_section .col-md-3 img {
  max-width: 100%;
  height: 64px;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-filter: invert(1);
  -o-filter: invert(1);
  filter: invert(1);
}
.count_section .col-md-3 h3 {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1;
}
.count_section .col-md-3 h4 {
  font-size: 18px;
}
.gallery_section {
  padding: 60px 0;
  overflow: hidden;
  z-index: 2000;
}
.gallery_section .row {
  margin: 0 -6px;
}
.gallery_section .gallery_category {
  position: relative;
  height: 400px;
  cursor: pointer;
  overflow: hidden;
}
.gallery_section .gallery_category:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gallery_section .gallery_category img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gallery_section .gallery_category h3 {
  text-align: center;
  font-size: 32px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}
.gallery_section .gallery_category h3:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  bottom: -5px;
  height: 3px;
  background: #fff;
  width: 0;
  -webkit-transition: 0.3s width;
  -o-transition: 0.3s width;
  transition: 0.3s width;
}
.gallery_section .gallery_category:hover h3:after {
  width: 100%;
}
.gallery_section .gallery_category:hover:after {
  background: rgba(212, 0, 27, 0.8);
}
.gallery_section .gallery_category:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.testimonials_section {
  padding-bottom: 60px;
}
.testimonials_section [type=radio] {
  display: none;
}
.testimonials_section .testimonials_row {
  position: relative;
  width: 80%;
  height: 300px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.testimonials_section .testimonials_row label {
  margin: auto;
  width: 60%;
  height: 100%;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.testimonials_section #s1:checked ~ #slide4,
.testimonials_section #s2:checked ~ #slide5,
.testimonials_section #s3:checked ~ #slide1,
.testimonials_section #s4:checked ~ #slide2,
.testimonials_section #s5:checked ~ #slide3 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transform: translate3d(-30%, 0, -200px);
          transform: translate3d(-30%, 0, -200px);
}
.testimonials_section #s1:checked ~ #slide5,
.testimonials_section #s2:checked ~ #slide1,
.testimonials_section #s3:checked ~ #slide2,
.testimonials_section #s4:checked ~ #slide3,
.testimonials_section #s5:checked ~ #slide4 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(-15%, 0, -100px);
          transform: translate3d(-15%, 0, -100px);
}
.testimonials_section #s1:checked ~ #slide1,
.testimonials_section #s2:checked ~ #slide2,
.testimonials_section #s3:checked ~ #slide3,
.testimonials_section #s4:checked ~ #slide4,
.testimonials_section #s5:checked ~ #slide5 {
  -webkit-box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.testimonials_section #s1:checked ~ #slide2,
.testimonials_section #s2:checked ~ #slide3,
.testimonials_section #s3:checked ~ #slide4,
.testimonials_section #s4:checked ~ #slide5,
.testimonials_section #s5:checked ~ #slide1 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(15%, 0, -100px);
          transform: translate3d(15%, 0, -100px);
}
.testimonials_section #s1:checked ~ #slide3,
.testimonials_section #s2:checked ~ #slide4,
.testimonials_section #s3:checked ~ #slide5,
.testimonials_section #s4:checked ~ #slide1,
.testimonials_section #s5:checked ~ #slide2 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transform: translate3d(30%, 0, -200px);
          transform: translate3d(30%, 0, -200px);
}
.testimonials_section:after {
  content: '';
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  background: url(../img/wave.png);
  -webkit-background-size: cover;
          background-size: cover;
  height: 100px;
  z-index: 1000;
  -webkit-filter: brightness(500%);
          filter: brightness(500%);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.testimonials_section .send_review {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.testimonials_section .send_review a {
  height: 48px;
  width: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background: #D4001B;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.testimonials_section .send_review a:hover {
  background: #000;
}
.testimonials_section .flickity-viewport {
  width: 100%;
}
.testimonials_section .flickity-prev-next-button {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.testimonials_section .testimonial_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: #f2f2f2;
  padding: 16px 24px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  height: 100%;
}
.testimonials_section .testimonial_item h4 {
  font-size: 22px;
}
.testimonials_section .testimonial_item img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.testimonials_section .testimonial_item h5 {
  margin: 15px 0;
  font-size: 14px;
  color: #D4001B;
  text-transform: uppercase;
  font-weight: 400;
}
.testimonials_section .testimonial_item p {
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1.5;
  font-size: 15px;
}
.teachers_section {
  padding: 60px 0;
  background: url(../img/section_bg4.jpeg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom;
}
.teachers_section:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
}
.teachers_section .row {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.teachers_section .col-lg-3 {
  margin: 15px 0;
}
.teachers_section .section_title {
  color: #fff;
}
.teachers_section .container {
  z-index: 20;
}
.teachers_section .teacher_item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: auto;
  height: 250px;
}
.teachers_section .teacher_item img {
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.teachers_section .teacher_item .name {
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  left: 0;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px 32px;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 0;
}
.teachers_section .teacher_item .name h4 {
  text-align: center;
  margin-top: 16px;
}
.teachers_section .teacher_item .name p {
  margin-top: auto;
  margin-bottom: auto;
  font-style: italic;
  font-size: 13px;
  text-align: center;
}
.teachers_section .teacher_item:hover .name {
  opacity: 1;
  background: rgba(212, 0, 27, 0.8);
}
.about_section {
  padding: 90px 0;
  background: url(../img/slider_bg6.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}
.about_section:after {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(212, 0, 27, 0.8);
}
.about_section .partners_logo h4 {
  text-transform: uppercase;
  font-size: 18px;
  margin: 30px 0;
}
.about_section .partners_logo .partners_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
.about_section .partners_logo .partners_row .partners_logo_img {
  width: 25%;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.about_section .partners_logo .partners_row .partners_logo_img img {
  width: 90%;
  -webkit-filter: brightness(500%);
          filter: brightness(500%);
}
.about_section .video .video_item {
  width: 100%;
}
.about_section .video .video_item video {
  height: 300px;
}
.about_section .container {
  z-index: 40;
  color: #fff;
}
.about_section .social_icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  border: none;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about_section .social_icons img {
  height: 32px;
  width: 32px;
}
.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: none;
  z-index: 100000;
  width: 100%;
}
.modal .hide_input {
  display: none;
}
.modal .modal_сontent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 25;
}
.modal:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.modal .close_modal {
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
  z-index: 30;
}
.modal .close_modal img {
  height: 32px;
  width: 32px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.modal .close_modal img:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.modal form {
  position: relative;
  z-index: 50;
  background: #fff;
  padding: 24px;
  width: 500px;
  max-height: 100%;
}
.modal form h4 {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.modal .input_block {
  margin: 15px 0;
}
.modal .input_block p {
  margin-bottom: 6px;
  font-size: 13px;
}
.modal .input_block input,
.modal .input_block textarea,
.modal .input_block select {
  width: 100%;
  font-size: 14px;
  padding-left: 12px;
  border: 1px solid #e0e0e0;
}
.modal .input_block select {
  -webkit-appearance: none;
}
.modal .input_block input,
.modal .input_block select {
  height: 36px;
}
.modal .input_block textarea {
  resize: none;
  height: 80px;
  padding-top: 8px;
}
.modal .input_block textarea {
  width: 100%;
  font-size: 14px;
  padding-left: 12px;
  border: 1px solid #e0e0e0;
}
.modal .input_block input[type="submit"] {
  padding-left: 0;
  background: #D4001B;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  width: 150px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.modal .input_block input[type="submit"]:hover {
  background: #404040;
}
.modal .submit_block {
  margin-bottom: 0;
}
.contacts_modal .modal_content {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.callback_modal .modal_content.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 25;
}
.review_modal .modal_content.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 25;
}
.free_lesson .modal_content.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 25;
}
.gallery_modal {
  display: block;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gallery_modal .slider_block {
  position: relative;
  height: 350px;
  width: 100%;
}
.gallery_modal .gallery_carousel {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
}
.gallery_modal .gallery_carousel.active {
  visibility: visible;
  opacity: 1;
}
.gallery_modal .gallery_carousel .carousel_item {
  width: 100%;
}
.gallery_modal .gallery_carousel .carousel_item img {
  width: 100%;
  height: 350px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}
.gallery_modal .gallery_category {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery_modal .gallery_category .flickity-viewport {
  width: 100%;
}
.gallery_modal .gallery_category .gallery_item {
  background: #D4001B;
  color: #fff;
  width: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  height: 100px;
  margin: 0 15px;
}
.gallery_modal .gallery_category .gallery_item h3 {
  line-height: 1.3;
  text-align: center;
}
.gallery_modal.open {
  opacity: 1;
  z-index: 100000;
  visibility: unset;
}
.gallery_modal .container {
  z-index: 20;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery_modal .container .row {
  height: -webkit-calc(100% - 120px);
  height: calc(100% - 120px);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.gallery_modal .container .carousel-nav {
  height: -webkit-calc(30% - 30px);
  height: calc(30% - 30px);
}
.gallery_modal .container .flickity-page-dots .dot {
  background: #fff;
}
.carousel {
  width: 100%;
}
.carousel-main {
  height: 60%;
}
.carousel-main .flickity-viewport {
  height: 100%!important;
}
.carousel-main .carousel-cell {
  height: 100%;
}
.carousel-cell {
  width: 100%;
  height: 30%;
  margin-right: 10px;
  background: #8C8;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.carousel-cell img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.carousel-nav {
  height: 30%;
}
.carousel-nav .carousel-cell {
  height: 100%;
  width: 20%;
}
.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}
.carousel-nav .carousel-cell.is-nav-selected {
  background: #ED2;
}
.contacts_section {
  padding: 40px 0;
  background: #f9f6f1;
}
.contacts_section:after {
  content: '';
  background: url(../img/wave.png);
  -webkit-background-size: cover;
          background-size: cover;
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  height: 100px;
}
.contacts_section .col-md-6 {
  margin-bottom: 30px;
}
.contacts_section .col-md-6 iframe {
  width: 100%;
  height: 300px;
  border: 6px solid #fff!important;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.contacts_section .col-md-6 .contact_desc {
  margin-top: 16px;
}
.contacts_section .col-md-6 .contact_desc h6 {
  font-size: 18px;
  font-weight: 400;
  margin: 8px 0;
}
.contacts_section .col-md-6 .contact_desc h6 span {
  font-weight: 600;
}
footer {
  padding: 40px 0;
  background: #D4001B;
  color: #fff;
}
footer .courses_list {
  text-align: center;
}
footer .social_icons {
  border: none;
}
footer .social_icons a {
  margin-right: 16px;
  margin-left: 0;
}
footer .social_icons a:last-child {
  margin-right: 0;
}
footer .courses_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .courses_list a {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}
footer .courses_list a:last-child {
  margin-bottom: 0;
}
footer .contact_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}
footer .contact_item img {
  height: 24px;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-right: 12px;
}
footer .contact_item a,
footer .contact_item h4 {
  font-size: 16px;
  color: #fff;
}
footer .footer_row {
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer_row a {
  text-align: center;
  color: #fff;
}
footer .logo_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.contact_call {
  height: 48px;
  width: 48px;
  background: #D4001B;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2001;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact_call img {
  height: 28px;
  width: 28px;
  -webkit-filter: invert(1);
          filter: invert(1);
}
.target_section {
  padding: 40px 0;
}
.target_section [type=radio] {
  display: none;
}
.target_section .video_slider {
  position: relative;
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 400px;
}
.target_section:after {
  content: '';
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  background: url(../img/wave.png);
  height: 100px;
  z-index: 1000;
  -webkit-filter: brightness(500%);
          filter: brightness(500%);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.target_section .section_title span {
  color: #D4001B;
}
.target_section .video_slider {
  width: 100%;
}
.target_section .video_slider .flickity-viewport {
  width: 100%;
}
.target_section .video_slider .slider_item {
  width: 100%;
}
.target_section .video_slider .slider_item video {
  display: block;
  height: 350px;
  width: auto;
  margin: 0 auto;
}
.target_section .video_slider .slider_item .video_title {
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.target_section .video_slider .slider_item .video_title h4 {
  font-size: 18px;
}
.corporate_modal .modal_content {
  position: relative;
  z-index: 200;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 25;
}
.flipbox-wrapper {
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}
.flipbox-wrapper .flipbox-box {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.flipbox-wrapper .flipbox-box .flipbox-side {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-front {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-left {
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-right {
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-top {
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-bottom {
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
}
section.active .section_title h3:after {
  width: 200px;
}
.teachers_section.active .section_title h3:after,
.count_section.active .section_title h3:after,
.about_section.active .section_title h3:after {
  background: #fff;
  width: 200px;
}
